* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E1E2E1;
    font-family: sans-serif;
}

header {
    font-size: 14px;
    text-align: center;
    background: #7ca453;
    color: #000000;
    padding: 10px;
}

nav {
    background: #e0ffb1;
    padding: 6px;
}

aside{
    width: 20%;
    margin: 0 1.5%;
    padding: 20px 5px;
    display : inline-block;
    vertical-align: top;
}

section{
    width: 73%;
    margin: 0 1.5%;
    padding: 10px;
    display : inline-block;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
  background: #7ca453;
  color: #000000;
  padding: 10px;
}

/* Any link in a page*/
a.nav-link {
    text-decoration: none;
    background-color: #add681;
    color: #000000;
    padding: 6px;
    border: none;
}

a.nav-link:hover {
    color: #E1E2E1;
}

p {
    padding: 10px 0;
}

/*
Responsive
*/
@media only screen and (max-width: 600px) {
    .nav-link {
        display: block;
    }

    aside {
        width: 100%;
        float: none;
    }

    section {
        width: 100%;
        float: none;
    }
}
